/*
 * Empty Stylesheet file.
*/

.mainFxmlClass {
    -fx-background-image: url("../images/main-background.jpg");
    -fx-background-position: center center;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-fill: #818181;
}

.main-toolbar {
    -fx-background-color: #FFF;
    -fx-border-color: #CCC;
    -fx-border-width:  0 0 1 0;
}
.main-centerpanel {
    -fx-background-image: url("../images/main-background.jpg");
    -fx-background-position: center center;
}

.main-footer {
    -fx-background-color: #FFF;
    -fx-border-color: #CCC;
    -fx-border-width:  1 0 0 0;
}

.device-hbox{
    -fx-background-color: #FFF;

    -fx-border-color: #DDD;
    -fx-border-width:  1 1 1 1;

    -fx-cursor: hand;
}
.device-hbox:hover {
    -fx-background-color: #EEE;

    -fx-border-color: #CCC;
    -fx-border-width:  1 1 1 1;

    -fx-cursor: hand;
}